.hotel-city-form
  = nice_form_for resource do |f|
    = f.errors_for
    = f.text_field :name

    = f.actions do
      = f.submit 'Сохранить'
      = link_to 'Отмена', collection_path, class: 'btn'
