.profile-show
  %h2.with-button
    = resource.name

    - if can? :update, resource
      = link_to 'Редактировать профиль', edit_resource_path(resource), class: 'btn btn-success btn-mini'

  .row-fluid
    .span6
      %p
        %b Полное имя:
        = resource.name
      %p
        %b Телефоны:
        = resource.phones
      %p
        %b Skype:
        = resource.skype
      %p
        %b ICQ:
        = resource.icq
    .span6
      - if resource.user.agency?
        %p
          %b Название компании:
          = resource.company_name
      %p
        - if resource.user.agency?
          %b Город:
          = resource.city
        - else
          %b Города:
          = resource.user.cities.pluck(:name).join(', ')
      - if resource.user.agency?
        %p
          %b Адрес:
          = resource.address
        %p
          %b Номер договора:
          = resource.agreement

  - if current_user && current_user.admin?
    %br
    .row-fluid
      .span12
        %h6 Заметка о профиле (видна только администраторам)
        = form_for resource do |f|
          = f.text_area :description, rows: 5, cols: 20, style: 'width:100%'
          = f.submit 'Сохранить', class: 'btn btn-primary'
