.passwords-new
  %h3 Восстановление пароля

  = nice_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
    = devise_error_messages!
    = f.text_field :email

    = f.actions do
      = f.submit 'Отправить инструкции по восстановлению'
