= table do
  %tr
    %th.center= sortable 'id', '#'
    %th= sortable 'created_at', 'Дата создания'
    %th= sortable 'last_message_created_at', 'Последнее сообщение'
    %th= sortable 'company_name', 'Фирма'
    %th Представитель
    %th Город
    %th Объект
    %th Тип номера
    %th(width="40")
    - if current_user.moderator?
      %th(width="40")
    - if current_user.super_admin?
      %th(width="80")
    %th(width="20")

  - @collection.each do |resource|
    %tr
      %td.center= resource.id
      %td= l(resource.created_at, format: :long)
      %td= l(resource.last_message_created_at, format: :short) if resource.last_message_created_at
      %td
        = resource.company_name
      %td
      - if resource.camper_id == nil
        = link_to resource.agency.profile.name, resource.agency.profile
      - else
        = link_to resource.camper.profile.name, resource.camper.profile
      %td
        - resource.rooms.map { |i| i.hotel.city }.uniq.each do |city|
          = city
          %br
      %td
        - resource.rooms.map { |i| link_to i.hotel.name, i.hotel }.uniq.each do |link|
          = link
          %br
      %td
        - resource.rooms.each do |room|
          = link_to room.name, "#{hotel_path(room.hotel)}#room-#{room.id}"
          %br
      %td
        - if resource.agency_new_messages_count == nil or resource.admin_new_messages_count < 1 or current_user.super_admin?
          \-
        - else
          = link_to resource, class: 'without-underline', title: "У вас #{resource.admin_new_messages_count} #{Russian.p(resource.admin_new_messages_count, 'новое сообщение', 'новых сообщений', 'новых сообщений')}" do
            = icon :envelope
            = resource.admin_new_messages_count
      - if current_user.moderator?
        %td
          - if resource.open?
            = link_to 'Взять', pull_ticket_path(resource), class: 'btn btn-mini btn-inverse'
      - if current_user.super_admin?
        %td
          - if resource.moderator
            = link_to resource.moderator.profile.name, resource.moderator.profile
      %td
        = icon_link_to 'zoom-in', '', resource_path(resource), title: 'Смотреть переписку по запросу'
