%table.table.table-striped
  %tr
    %th Название
    %th(width="150") Для авторизированых
    %th(width="100") Многострочное
    %th(width="50") Печать
    %th.actions(width="35")
    %th.actions(width="35")

  - collection.each do |resource|
    %tr
      %td= resource.name
      %td.center
        - if resource.only_signed
          = icon :ok
      %td.center
        - if resource.multiline
          = icon :ok
      %td.center
        - if resource.include_to_print
          = icon :ok
      %td.actions
        - if can? :sort, resource
          = icon_link_to 'arrow-up', '', sort_hotel_room_field_path(resource, direction: :up), remote: true, data: { replace: '#content-table' }
          = icon_link_to 'arrow-down', '', sort_hotel_room_field_path(resource, direction: :down), remote: true, data: { replace: '#content-table' }
      %td.actions
        - if can? :update, resource
          = icon_link_to 'pencil', '', edit_resource_path(resource)

        - if can? :delete, resource
          = icon_link_to 'trash', '', resource, confirm: 'Вы уверены, что хотите удалить это?', method: :delete
