!!!

%meta{:charset => "utf-8"}
%title GurFoto

%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}

= stylesheet_link_tag 'application'
= javascript_include_tag 'application'
= csrf_meta_tag

/[if lt IE 9]
  = javascript_include_tag 'http://html5shim.googlecode.com/svn/trunk/html5.js'
  = javascript_include_tag 'http://css3-mediaqueries-js.googlecode.com/files/css3-mediaqueries.js'

.page-wrapper
  = render :partial => 'blocks/header'
  = render :partial => 'blocks/content'
  = render :partial => 'blocks/footer'

:javascript
  (function (d, w, c) {
      (w[c] = w[c] || []).push(function() {
          try {
              w.yaCounter17353834 = new Ya.Metrika({id:17353834, enableAll: true, webvisor:true});
          } catch(e) { }
      });
      
      var n = d.getElementsByTagName("script")[0],
          s = d.createElement("script"),
          f = function () { n.parentNode.insertBefore(s, n); };
      s.type = "text/javascript";
      s.async = true;
      s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
  
      if (w.opera == "[object Opera]") {
          d.addEventListener("DOMContentLoaded", f);
      } else { f(); }
  })(document, window, "yandex_metrika_callbacks");

%noscript
  %div
    %img{:alt => "", :src => "//mc.yandex.ru/watch/17353834", :style => "position:absolute; left:-9999px;"}/
